<li class="top-links-item"><a href="#">{{t 'locale.language'}}<i class="icon-angle-down"></i></a>
    <ul class="top-links-sub-menu">
        <li class="top-links-item"><a {{on "click" (fn this.switch 'en-us')}}>{{t 'locale.en-us'}}</a></li>
        <li class="top-links-item"><a {{on "click" (fn this.switch 'uk-ua')}}>{{t 'locale.uk-ua'}}</a></li>
    </ul>
</li>