<div class="header-misc">

    {{!-- Top Search
    ============================================= --}}
    <div id="top-search" class="header-misc-icon">
        <a href="#" id="top-search-trigger"><i class="icon-line-search"></i><i class="icon-line-cross"></i></a>
    </div>{{!-- #top-search end --}}

</div>

<div id="primary-menu-trigger" class={{if this.open "primary-menu-open"}}>
    <svg class="svg-trigger" viewBox="0 0 100 100" {{on "click" this.toggleMenu}}><path d="m 30,33 h 40 c 3.722839,0 7.5,3.126468 7.5,8.578427 0,5.451959 -2.727029,8.421573 -7.5,8.421573 h -20"></path><path d="m 30,50 h 40"></path><path d="m 70,67 h -40 c 0,0 -7.5,-0.802118 -7.5,-8.365747 0,-7.563629 7.5,-8.634253 7.5,-8.634253 h 20"></path></svg>
</div>

{{!-- Primary Navigation
============================================= --}}
<nav class="primary-menu with-arrows">

    <ul class="menu-container" style={{if this.open "display: block;"}}>
        <li class="menu-item">
            <LinkTo class="menu-link" @route="index">
                <div>{{t 'menu.home'}}</div>
            </LinkTo>
        </li>
        <li class="menu-item">
            <LinkTo class="menu-link" @route="services">
                <div>{{t 'menu.services'}}</div>
            </LinkTo>
        </li>
        <Header::PrimaryNavigation::SubMenu @items={{this.portfolio}}/>
        <li class="menu-item">
            <LinkTo class="menu-link" @route="documents">
                <div>{{t 'menu.documents'}}</div>
            </LinkTo>
        </li>
        <li class="menu-item">
            <LinkTo class="menu-link" @route="contact">
                <div>{{t 'menu.contact'}}</div>
            </LinkTo>
        </li>
    </ul>

</nav>{{!-- #primary-menu end --}}

<form class="top-search-form" action="search.html" method="get">
    <input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." autocomplete="off">
</form>