{{!-- Header
============================================= --}}
<header id="header" class="header-size-sm {{if this.isSticky "sticky-header"}}" {{did-insert this.addScrollListener}}>
    <div class="container">
        <div class="header-row">

            <Header::Logo/>

            <div class="header-misc d-none d-lg-flex">

                <ul class="header-extras">
                    <Header::Contact @icon="icon-call">
                        {{t "header.call"}}
                        <span>(1) 22 54215821</span>
                    </Header::Contact>
                    <Header::Contact @icon="icon-line2-envelope">
                        {{t "header.email"}}
                        <span>info@canvas.com</span>
                    </Header::Contact>
                    <Header::Contact @icon="icon-line-clock">
                        {{t "header.open"}}
                        <span>Mon - Sat, 10AM to 6PM</span>
                    </Header::Contact>
                </ul>

            </div>

        </div>
    </div>

    <div id="header-wrap">
        <div class="container">
            <div class="header-row justify-content-between flex-row-reverse flex-lg-row justify-content-lg-center">

                <Header::PrimaryNavigation/>

            </div>
        </div>
    </div>
    <div class="header-wrap-clone"></div>
</header>{{!-- #header end --}}