{{head-layout}}

<BreadcrumbsItem as |linkClass|>
  <LinkTo @route="index" class={{linkClass}}>
    {{t 'menu.home'}}
  </LinkTo>
</BreadcrumbsItem>

{{!-- Document Wrapper
============================================= --}}
<div id="wrapper" class="clearfix">

	<TopBar/>

	<Header/>

	{{outlet}}

	<Footer/>

</div>{{!-- #wrapper end --}}

{{go-to-top}}