<BreadcrumbsItem as |linkClass|>
	<LinkTo @route="contact" class={{linkClass}}>
		{{ t 'menu.contact' }}
	</LinkTo>
</BreadcrumbsItem>

<PageTitle
@title={{ t 'menu.contact' }}
@description={{ t 'page-title.description.contact' }}
/>

<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h2 class="center ls1 bottommargin">{{ t 'menu.contact' }}</h2>

					<p>{{ t 'lorem-ipsum' }}</p>

				</div>

			</div>
		</section>

{{outlet}}