<BreadcrumbsItem as |linkClass|>
	<LinkTo @route="portfolio" class={{linkClass}}>
		Portfolio
	</LinkTo>
</BreadcrumbsItem>

<PageTitle
@title={{ t 'page-title.project' }}
@description={{ t 'page-title.description.project' }}
/>

<section id="content">
			<div class="content-wrap">
				<div class="container clearfix">

					<h2 class="center ls1 bottommargin">{{@model.name}}</h2>

					<p>{{@model.description}}</p>

					

					<div id="portfolio" class="portfolio row grid-container gutter-20 has-init-isotope" data-layout="fitRows">
						<PhotoSwipe @items={{@model.images}} as |photoSwipe|>
							{{#each @model.images as |image index|}}
								<article class="portfolio-item col-12 col-sm-6 col-md-4 pf-media pf-icons">
									<div class="grid-inner">
										<div class="portfolio-image">
											<img
											src={{image.src}}
											alt="The Atmosphere"
											{{on 'click' (fn photoSwipe.actions.open (hash index=index))}}>
										</div>
										<div class="portfolio-desc">
											{{#if image.title }}
											 <h3>{{image.title}}</h3>
											 {{/if}}
											 {{#if image.description }}
											<span>{{image.description}}</span>
											{{/if}}
										</div>
									</div>
								</article>
							{{/each}}
						</PhotoSwipe>
					</div>

				</div>

			</div>
		</section>

{{outlet}}